<script src="/static/contrib/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="/static/contrib/datatable/dataTables.min.js" type="text/javascript"></script>
<script src="/static/contrib/bootstrap-3.3.7-dist//js/bootstrap.min.js" type="text/javascript"></script>

<!-- some homemade javascript function -->
<script src="/static/js/registration/utils.js" type="text/javascript"></script>

<!-- Class definition for field form. control -->
<script src="/static/js/registration/classes/fields/StandardField.js" type="text/javascript"></script>
<script src="/static/js/registration/classes/fields/PasswordField.js" type="text/javascript"></script>
<script src="/static/js/registration/classes/fields/EmailField.js" type="text/javascript"></script>
<script src="/static/js/registration/classes/fields/UsernameField.js" type="text/javascript"></script>
<script src="/static/js/registration/classes/fields/CheckField.js" type="text/javascript"></script>
<script src="/static/js/registration/classes/fields/GroupNameField.js" type="text/javascript"></script>

<!-- Class definition to manipulate buttons -->
<script src="/static/js/registration/classes/buttons/SaveButton.js" type="text/javascript"></script>

<!-- Class definition to manipulate user data -->
<script src="/static/js/registration/classes/data/Users.js" type="text/javascript"></script>
