<div class="modal fade" id="user-edit-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="text-center" id="user-edit-username"></h4>
                <div class="row form-register">
                    <!-- firstname -->
                    <div class="form-group has-success" id="user-edit-firstname-group">
                        <div class="col-sm-4">
                            <label id="firstnameLabel"
                                   class="control-label">Firstname: </label>
                        </div>
                        <div class="col-sm-8">
                            <input id="user-edit-firstname" type="text"
                                   value="" class="form-control" placeholder="Firstname"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <!-- End -->
                    <br />
                    <br />
                    <!-- lastname -->
                    <div class="form-group has-success" id="user-edit-lastname-group">
                        <div class="col-sm-4">
                            <label id="lastnameLabel"
                                   class="control-label">Lastname: </label>
                        </div>
                        <div class="col-sm-8">
                            <input id="user-edit-lastname" type="text"
                                   value="" class="form-control" placeholder="Lastname"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <!-- End -->
                    <br />
                    <br />
                    <!-- email -->
                    <div class="form-group has-success" id="user-edit-email-group">
                        <div class="col-sm-4">
                            <label id="emailLabel" class="control-label">Email: </label>
                        </div>
                        <div class="col-sm-8">
                            <input id="user-edit-email" type="text"
                                   value="" class="form-control" placeholder="Email address"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <!-- End -->
                    <br />
                    <br />
                    <!-- Register button -->
                    <div class="col-sm-6">
                        <a class="btn btn-lg btn-primary btn-block"
                           id="user-edit-btn"
                           onclick="modifyUser('{{ csrf_token }}')"
                           ><span class="glyphicon-save glyphicon"></span></a>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn btn-lg btn-danger btn-block"
                           onclick="$('#user-edit-password-modal').modal('show')"
                           >Change Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="user-edit-password-modal" tabindex="-2" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row form-register">
                    <div class="well well-lg">
                        <h4 class="text-center">You will update the password.<br/>
                        Please, enter it twice to confirm the password.</h4>
                        <br/>
                        <br/>
                        <!-- Password -->
                        <div class="form-group has-error has-feedback"
                             id="user-edit-password-group">
                            <div class="col-sm-4">
                                <label id="passwordLabel" class="control-label">
                                    Password :
                                    <span class="glyphicon glyphicon-eye-open"
                                          id="user-edit-password-icon"
                                          onclick="password.tooglePasswordVisible(false)">

                                    </span></label>
                            </div>
                            <div class="col-sm-8">
                                <input id="user-edit-password"
                                       type="password" value="" class="form-control"
                                       placeholder="Password" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <!-- End -->
                        <br/>
                        <br/>
                        <!-- Password -->
                        <div class="form-group has-error has-feedback"
                             id="user-edit-password-check-group">
                            <div class="col-sm-4">
                                <label id="passwordCheckLabel" class="control-label">
                                    Password :
                                    <span class="glyphicon glyphicon-eye-open"
                                          id="user-edit-password-check-icon"
                                          onclick="password.tooglePasswordVisible(true)">

                                    </span></label>
                            </div>
                            <div class="col-sm-8">
                                <input id="user-edit-password-check"
                                       type="password" value="" class="form-control"
                                       placeholder="Password" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <br/>
                        <br/>
                    </div>
                    <!-- End -->
                    <!-- Register button -->
                    <div class="col-sm-12">
                        <a class="btn btn-lg btn-primary btn-block disabled"
                           id="user-edit-password-btn"
                           onclick="modifyUserPassword('{{ csrf_token }}')"
                           >Confirm New Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
