<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row form-register">

                    <!-- Username -->
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label id="usernameLabel" class="control-label">Username: </label>
                        </div>
                        <div class="col-sm-8">
                            <input style="border-color:red;" id="register-username" type="text"
                                   value="" class="form-control col-sm-8" placeholder="Username"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <!-- End username -->
                    <br />
                    <br />
                    <!-- email -->
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label id="emailLabel" class="control-label col-sm-2">Email: </label>
                        </div>
                        <div class="col-sm-8">
                            <input style="border-color:red;" id="register-email" type="text"
                                   value="" class="form-control" placeholder="Email address"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <!-- End -->
                    <br />
                    <br />
                    <!-- firstname -->
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label id="firstnameLabel"
                                   class="control-label">Firstname: </label>
                        </div>
                        <div class="col-sm-8">
                            <input style="border-color:red;" id="register-firstname" type="text"
                                   value="" class="form-control" placeholder="Firstname"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <!-- End -->
                    <br />
                    <br />
                    <!-- lastname -->
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label id="lastnameLabel"
                                   class="control-label col-sm-2">Lastname: </label>
                        </div>
                        <div class="col-sm-8">
                            <input style="border-color:red;" id="register-lastname" type="text"
                                   value="" class="form-control" placeholder="Lastname"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <!-- End -->
                    <br />
                    <br />
                    <!-- Project -->
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label id="projectLabel" class="control-label">Project
                                (optional): </label>
                        </div>
                        <div id="project" class="col-sm-8">
                            <input style="" id="register-project" type="text"
                                   value="" class="form-control" placeholder="Project"
                                   aria-describedby="basic-addon1">
                            <!--<div class="input-group">-->
                                <!--<input id="projectInput" type="text" value=""-->
                                       <!--class="form-control" placeholder="Project wished"-->
                                       <!--aria-describedby="basic-addon1">-->
                                <!--<span class="input-group-addon input-group-addon-spec"><button-->
                                        <!--type="button" id="projectIcon"-->
                                        <!--title="Project field info" data-toggle="popover"-->
                                        <!--data-trigger="focus" data-placement="right"-->
                                        <!--data-content="You can put a name of a project if you know it (must be a name with letter and digit only; no accent no special character...)"-->
                                        <!--class="btn glyphicon glyphicon-info-sign"></button></span>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <!-- End -->
                    <br />
                    <br />
                    <!-- Password -->
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label id="passwordLabel" class="control-label">Password: </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input style="border-color:red;" id="register-password"
                                       type="password" value="" class="form-control"
                                       placeholder="Password" aria-describedby="basic-addon1">
                                <span id="passwordIcon" title="See password"
                                      class="btn input-group-addon glyphicon glyphicon-eye-open"></span>
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                    <br />
                    <br />
                    <!-- Password (2nd check) -->
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label id="checkPasswordLabel" class="control-label">Retype
                                password: </label>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input style="border-color:red;" id="register-password-check"
                                       type="password" value="" class="form-control"
                                       placeholder="Retype your password"
                                       aria-describedby="basic-addon1">
                                <span id="checkPasswordIcon" title="See password"
                                      class="btn input-group-addon glyphicon glyphicon-eye-open"></span>
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                    <br />
                    <br />
                    <!-- EULA agreement -->
                    <div class="form-group">
                        <div class="col-sm-10">
                            <label id="agreementLabel" class="control-label"
                                   style="font-size: 17px;">I have read and agree to the <a
                                    href="/policies" target="_blank"><u>Terms, Conditions &
                                Policies</u></a></label>
                        </div>
                        <div class="col-sm-2">
                            <input id="register-agreement" type="checkbox" name="agreement" style="">
                        </div>
                    </div>
                    <!-- End -->
                    <br/>
                    <!-- Register button -->
                    <div class="col-sm-12">
                        <a class="btn btn-lg btn-primary btn-block disabled"
                           id="register-btn" onclick="register('{{ csrf_token }}')"
                           >Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
